
<div id="historyContainer" class="container">
    <div id="title">
        <div id="historyTitle">ROOMS HISTORICAL DATA</div>
        <a href="/ackuaria" class="back" id="back"><span class="fa fa-reply dark"></span><span class="light blue"> BACK TO </span><span class="bold dark">ROOMS</span></a>
    </div>

    <div id="history" class="row">
        <div id="leftCol" class="col-md-8">
            <div id="overall">
                <div class="row">
                    <div class="col-md-2">
                        <span>Sessions </span><span class="info bold dark" id="stats_sessions"></span>
                    </div>
                    <div class="col-md-2">
                        <span>Rooms </span><span class="info bold dark" id="stats_rooms"></span>
                    </div>
                    <div class="col-md-2">
                        <span>Users </span><span class="info bold dark" id="stats_users"></span>
                    </div>
                    <div class="col-md-4">
                        <span>Time published </span><span class="info bold dark" id="stats_time"></span>
                    </div>
                </div>
            </div>

            <div id="rooms" class="row">
                <div class="roomContainer show_list">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-md-3 bold dark">ID</th>
                                <th class="col-md-3 bold dark">ROOM NAME</th>
                                <th class="col-md-2">
                                    <button class="button" id="exportButton">
                                         <span><i class="fa fa-share-square-o"></i>Export .csv</span>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="bodyTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="rightCol" class="col-md-4">
            <div id="filtersContainer">
                <div class="row" id="dateSelect">
                    <div class="col-md-2">
                        <span>Dates</span>
                    </div>
                    <div class="col-md-5">
                        <input class="date" type="text" name="initCalendar" id="initCalendar" placeholder="dd/mm/yyyy">
                        <span class="dateIcon button fa fa-calendar" id="initButton"></span>
                    </div>
                    <div class="col-md-5">
                        <input class="date" type="text" name="finalCalendar" id="finalCalendar" placeholder="dd/mm/yyyy">
                        <span class="dateIcon button fa fa-calendar" id="finalButton"></span>
                    </div>
                </div>
                <div class="row filter_row" id="idFilter">
                    <div class="filters col-md-2">
                        <span>ID</span>
                    </div>
                    <div class="filters col-md-10">
                        <input id="room_id" class="filter" type="text" placeholder="Search by ID">
                    </div>
                </div>
                <div class="row filter_row" id="idFilter">
                    <div class="filters col-md-2">
                        <span>Name</span>
                    </div>
                    <div class="filters col-md-10">
                        <input id="room_name" class="filter" type="text" placeholder="Search by name">
                    </div>
                </div>
                <!-- Añadir esto -->
                <div class="row filter_row key_value" id="filter_row_0">
                    <div class="filters col-md-2">
                        <span>Key</span>
                    </div>
                    <div class="filters col-md-4">
                        <div class="form-group">
                          <select class="form-control key" id="key_0">
                            <option value="">Select key</option>
                            <% for (var k in keys) { %>
                            <option><%=keys[k]%></option>
                            <% } %>
                          </select>
                        </div>
                    </div>
                    <div class="filters col-md-1">
                        <span class="value_label">Value</span>
                    </div>
                    <div class="filters col-md-4">
                        <input id="value_0" class="filter value" type="text" placeholder="Insert value">
                    </div>
                    <div class="filters col-md-1">
                        <span class="button toolIcon fa fa-times removeButton" todelete="filter_row_0" id="remove_button_0"></span>
                    </div>
                </div>
                <!-- Hasta aquí -->

                <div class="row filter_row" id="addFilter_row">
                    <div class="filters col-md-12">
                        <span class="button toolIcon fa fa-plus" id="addButton"></span>
                    </div>
                </div>


                <div class="row" id="actions_row">
                    <div class="col-md-12">
                        <button class="actionbutton button" id="deleteFiltersButton">
                             <span><i class="fa fa-times"></i>Clear</span>
                        </button>
                        <button class="actionbutton button" id="searchButton">
                             <span><i class="fa fa-search"></i>Search</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="javascripts/lib/csv-generator.js"></script>

<script>
  var info = <%- JSON.stringify(info) %>;
  var keys = <%- JSON.stringify(keys) %>;
  paintRoomsList(info.room_list);
  paintRoomsStats(info);
</script>