<!DOCTYPE html >

<head >
	<title > Ackuaria Info </title>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script type="
text/javascript " src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" > </script>
  <script>
  var useDB = <%- JSON.stringify(useDB) %>;
  $(document).ready(function() {
  	if (useDB){

  	var today = <%- JSON.stringify(initDate) %>;
  	var tomorrow = <%- JSON.stringify(finalDate) %>;
  	if (today === null){
		var todayDate = new Date();
  	}
  	else {
  		  	var todayDate = new Date(today);

  	}

  	if (tomorrow === null){
  		var tomorrowDate = new Date();
  		tomorrowDate.setDate(todayDate.getDate() + 1);

  	}
  	else {
  		  	var tomorrowDate = new Date(tomorrow);

  	}

  	var day1 = todayDate.getDate();
  	var day2 = tomorrowDate.getDate();
  	var month1 = parseInt(todayDate.getMonth()) + 1;
  	var month2 = parseInt(tomorrowDate.getMonth()) + 1;

  	var year1 = todayDate.getFullYear();
  	var year2 = tomorrowDate.getFullYear();


    $("#initDatepicker").datepicker({dateFormat: "dd-mm-yy",  firstDay: 1}).val( day1 + "-" + month1 + "-" + year1);
    $("#finalDatepicker").datepicker({dateFormat: "dd-mm-yy",  firstDay: 1}).val(day2 + "-" + month2 + "-" + year2);

}
else {
	document.body.innerHTML ="You must activate the use of the database to search events by date";
}

   

  });
  </script>
	</head>

<html>

<body>

	<h1 id="header"> Search events by date! </h1>

    <form id="dates" action="/info" method="post" >

Initial Date:
    <input id="initDatepicker" name="initTimestamp"/> 

Final Date:
    <input id="finalDatepicker" name="finalTimestamp"/> 

Type
	<select id="type" name="eventType">
		<option value="all"> All </option>
		<option value="publish"> Publish </option>
		<option value="unpublish"> Unpublish </option>
		<option value="subscribe"> Subscribe </option>

		<option value="user_connection"> User connection </option>
		<option value="user_disconnection"> User disconnection </option>

		<option value="connection_status"> Connection Status </option>
	</select>
    <input type="submit" value="Submit">



</form>

<br>
<br>

<div id="events"> <%- eventos %> </div>


</body>


<script src="http://localhost:8888/socket.io/socket.io.js"></script>