<html>
	<head>
		<meta charset="utf-8">
		<title>Ackuaria</title>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="lib/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    	<link rel="stylesheet" type="text/css" href="/lib/bootstrap-3.3.2-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="lib/font-awesome-4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  		<link rel='stylesheet' href='/stylesheets/<%=view%>.css'/>






	</head>

	<body>
		<div id="navbar" class="fixed-top"></div>
		<div class="container-fluid" id="marca">
			<div>
      			<br><p><img id="star" alt="Brand" src="images/star.svg"></p>
      		</div>
      		<div id="ackuaria">ACKUARIA</div>
	  	</div>

<%- body %>


  </body>

    <div class="footer">
      <div class="container">

					<br><img id="logo" alt="Logo" src="images/logo.svg"></p>
      </div>
    </div>

</html>