<html>
	<head>
		<meta charset="utf-8">
		<title>Ackuaria</title>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="/ackuaria/lib/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    	<script src="/ackuaria/socket.io/socket.io.js"></script>
    	<script src="/ackuaria/javascripts/graphs.js" type="text/javascript"></script>
		<script src="/ackuaria/javascripts/<%=view%>.js" type="text/javascript"></script>
		<script src="/ackuaria/lib/sortable.min.js"></script>


    	<link rel="stylesheet" type="text/css" href="/ackuaria/lib/bootstrap-3.3.2-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="7lib/font-awesome-4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/ackuaria/stylesheets/common.css" />
  		<link rel='stylesheet' href='/ackuaria/stylesheets/<%=view%>.css'/>
		<link rel="stylesheet" href="/ackuaria/stylesheets/sortable-theme-bootstrap.css" />
	</head>

	<body>
		<div id="navbar" class="fixed-top"></div>
		<div id="ackuaria">
			<img id="brand" src="/ackuaria/images/brand.svg" alt="ACKUARIA" onclick='window.location="/"'>
		</div>

		<%- body %>


  	</body>

    <div class="footer">
    	<div class="container">
			<br><img id="logo" alt="Logo" src="/ackuaria/images/logo.svg"></p>
     	</div>
    </div>
</html>

