


<div id="pubsContainer" class="container">
	<div id="roomInfo">
		<div id="roomName">ROOM UNO</div><div class="back"><span class="light blue">BACK TO </span><span id="back" class="bold dark">ROOMS</span></div>
		<div id="roomId">FJA8734H344334JH234</div>
		<div id="pubsCount">XX STREAMS <i class="fa fa-users"></i></div>
	</div>

	<div id="publishers" class="row row-centered">
	
	</div>

</div>


<script>

  var room = <%- JSON.stringify(room) %>;
  var streams = <%- JSON.stringify(streams) %>;
  var users = <%- JSON.stringify(users) %>;
  
  paintPublishers(room, streams, users);
  

$('#back').click(function(){ window.location='/'})
$('.publisher').click(function(){ window.location='subs'})

</script>