

<div id="roomsContainer" class="container">
	<div id="roomsCount"><span id="numberRooms">0</span> ROOMS <i class="fa fa-bullseye"></i></div>

	<div id="rooms" class="row row-centered">

	</div>

</div>


<script>

  var rooms = <%- JSON.stringify(rooms) %>;
  
  paintRooms(rooms);
  
</script>