

<div id="roomsContainer" class="container">
	<div id="roomsCount">XX ROOMS <i class="fa fa-bullseye"></i></div>

	<div id="rooms" class="row row-centered">

		<div class="col-lg-3 col-md-4 col-sm-6 col-min col-centered">
				<div class="room">
					<p><div id="roomName">ROOM UNO</div></p>
					<p><div id="roomId">734734892349782340984</div></p>
					<div id="streamsInRoom"><div id="streams"><span class="bold">15</span> STREAMS <span class="fa fa-user"></span></div></div>
				</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-min col-centered">
				<div class="room">
					<p><div id="roomName">ROOM DOS</div></p>
					<p><div id="roomId">734734892349782340984</div></p>
					<div id="streamsInRoom"><div id="streams"><span class="bold">10</span> STREAMS <span class="fa fa-user"></span></div></div>
				</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6 col-min col-centered">
				<div class="room">
					<p><div id="roomName">ROOM TRES</div></p>
					<p><div id="roomId">734734892349782340984</div></p>
					<div id="streamsInRoom"><div id="streams"><span class="bold">21</span> STREAMS <span class="fa fa-user"></span></div></div>
				</div>
		</div>	

	</div>

</div>

<script>
var add = function(){
	$('#rooms').append('<div class="col-lg-3 col-md-4 col-sm-6 col-min col-centered"><div class="room"><p><div id="roomName">ROOM UNO</div></p><p><div id="roomId">734734892349782340984</div></p><div id="streamsInRoom"><div id="streams"><span class="bold">15</span> STREAMS <span class="fa fa-user"></span></div></div></div></div>')
}
</script>