

<div class="container">
	<div id="rooms" class="row row-centered">

		<div class="col-lg-3 col-md-4 col-sm-6 col-min col-centered">
				<div class="room">
					<p><div id="roomName">ROOM UNO</div></p>
					<p><div id="roomId">734734892349782340984</div></p>
					<div id="pubsInRoom"></div>
				</div>
		</div>
	</div>
</div>
