<!DOCTYPE html>

<head>
	<title>Ackuaria Total</title>

</head>

<html>

<body>

ACKUARIA
<br>
TOTAL ROOMS = <%=nRooms%>
<br>
TOTAL PUBLISHERS = 
<%= nPubs %>
<br>


</body>






<script src="http://localhost:8888/socket.io/socket.io.js"></script>
