@font-face {
  font-family: 'Nunito-Light';
  src: url('../fonts/Nunito-Light.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Nunito-Regular';
  src: url('../fonts/Nunito-Regular.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Nunito-Bold';
  src: url('../fonts/Nunito-Bold.ttf'); /* IE9 Compat Modes */
}

html, body {
	height: 100%;
}


#navbar {
	background-color: #55739D;
	width: 100%;
	height: 25px;
	position: fixed;
	top: 0;
	z-index: 1;
}

#star {
	top: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width:80px;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:65px;
}

#ackuaria {
	text-align: center;
	font-family: 'Nunito-Light';
	font-size: 25px;
	color: #55739D;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #042762;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #55739D;
  -webkit-box-shadow: 0px -3px 2px #042762;
    -moz-box-shadow:    0px -3px 2px #042762;
    box-shadow:         0px -3px 2px #042762;
}


.bold {
		font-family: "Nunito-Bold";
}
.light {
		font-family: "Nunito-Light";
}
.blue {
	color: #55739D;
}
.dark {
	color: #042762;
}

.green {
	color: rgb(84, 195, 30);
}

.red {
	color: rgb(213, 15, 30);
}

.orange {
	color: rgb(247, 119, 52);
}

/**
Scrolling bar properties
**/

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #55739D;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-track{

    	margin-bottom: 50px;


}


/**
Search bar properties
**/

#custom-search-input {
        margin:0;
        padding: 0;
}
 
#custom-search-input .search-query {
    padding-right: 27px;
    padding-left: 10px;
  	border-color: #55739D;
  	font-family: "Nunito-Light";
  	height: 25px;
    margin-bottom: 0;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

#custom-search-input button {
	z-index: 4;
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #55739D;
}

.search-query:focus + button {
    z-index: 3;   
}
