@font-face {
  font-family: 'Nunito-Light';
  src: url('../fonts/Nunito-Light.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Nunito-Regular';
  src: url('../fonts/Nunito-Regular.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Nunito-Bold';
  src: url('../fonts/Nunito-Bold.ttf'); /* IE9 Compat Modes */
}

html, body {
	height: 100%;
}


#navbar {
	background-color: #55739D;
	width: 100%;
	height: 25px;
	position: fixed;
	top: 0;
	z-index: 1;
}

#star {
	top: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width:80px;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:65px;
}

#ackuaria {
	text-align: center;
	font-family: 'Nunito-Light';
	font-size: 25px;
	color: #55739D;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #55739D;
}


.bold {
		font-family: "Nunito-Bold";
}
.light {
		font-family: "Nunito-Light";
}
.blue {
	color: #55739D;
}
.dark {
	color: #042762;
}
