
body {
	overflow-y: hidden;
}

#historyContainer{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	bottom: 25px;
	width: 90%;
	min-height:calc(100% - 210px);
}
#historyTitle {
	position: absolute;
	font-family: "Nunito-Light";
	color: #042762;
	font-size: 20px;
}
#title {
	margin-top: 30px;
}
#back {
	float: right;
	font-size: 15px;
	color: #55739D;
	cursor: pointer;
}

#back:hover {
	text-decoration: none;
}

#history {
	position: absolute;
	margin: 40px 0 20px 0;
	padding-bottom: 50px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;

}

#dateSelect {
	line-height: 25px;
	height: 31px;
}

#leftCol {
	padding-left: 0px;
	padding-right: 20px;
	height: 100%;
}
#rightCol {
	padding-left: 20px;
}

form {
	margin: 0;
}

input.date {
	border-radius: 7px;
	border-color: #55739D;
	padding-left: 10px;
	text-align: left;
	line-height: inherit;
	width: 100%;
	padding-right: 20%;
}
.button {
	border: 1px solid;
	border-radius: 6px;
	border-color: #042763;
	line-height: inherit;	
	height: 26px;
	text-align: center;
	background-color: #042763;
	color: white;
	cursor: pointer;
	margin: 0 10px 0 3px;

}

.dateIcon {
    width: 26px;
    width: 20%;
    height: 20px;
    background-color: white;
    border: none;
    color: #042763;
    position: absolute;
    right: 7px;
    top: 3px;
}

.toolIcon {
	margin-right: 10px; 
	width: 26px;

}
.dateIcon .fa {
	vertical-align: middle;
}

#exportButton {
	float: right;
	padding: 0 10px 0 10px;
	font-family: "Nunito-Light";
}

#exportButton i {
	margin-right: 10px;
}

#addFilter_row {
	text-align: right;
	height: 36px;
}

#actions_row {
	text-align: right;
}

.actionButton {
	margin-top: 10px;
    padding: 3px 15px;
    margin-right: 0;
}

.actionButton i {
	margin-right: 10px;
}

#deleteFiltersButton {
	background-color: #878787;
	border-color: #878787;
}

.removeButton {
    font-size: 15px;
    background-color: #878787;
    border-color: #878787;
    position: absolute;
    right: 7px;
}

#addButton {
 	font-size: 15px;
    border-color: #878787;
    position: absolute;
    right: 7px;
}

#overall {
	font-family: "Nunito-Light";
	color: #55739D;
	background-color: white;
	border: 1px solid #042763;
	padding: 10px 15px 10px 15px;
	width: 100%;
	line-height: 25px;
	/*margin-top: 40px;*/
	margin-left: 0px;
	text-align: center;
}

.info {
	padding-left: 10px;
}

#filtersContainer {
	color: #55739D;
	background-color: #E6EEF5;
	padding: 20px 15px 20px 15px;
	font-family: "Nunito-Light";
	max-height: 100%;
	overflow-y: scroll;
}
#search {
	margin: 0;
}
#custom-search-input {
	height: 26px;
    position: absolute;
    width: 30%;
    right: 0;
}

.input-group {
	padding: 0 !important;
}

.first-row {
	margin-bottom: 20px;
	padding: 0;
}
.filter_row {
	padding-top: 10px;
}

input.filter {
	border-color: #042763 !important;
	font-family: "Nunito-Light";
	height: 26px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    border-radius: 7px !important;
}

.filters input.filter {
	padding: 10px;
	width: 100%;
}

.key_value {
	height: 41px;
}

.key_value select {
	height: 26px !important;
	-webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    border-radius: 7px !important;
    border-color: #042763 !important;
    font-family: "Nunito-Light";
}

.value_label {
	margin-left: -10px;
}

#rooms {
	margin: 0;
	max-height: calc(100% - 48px);
	overflow-y: scroll;
	margin-top: 12px;
}

#rooms table {
	font-size: 14px;
	font-family: "Nunito-Light";
}

.room {
	cursor: pointer;

}

.collapseButtons {
	text-align: right;
	padding-right: 20px !important;
}

.room.selected, .room_detail {
	background-color: #E6EEF5;
}


.table-hover>tbody>tr:hover {
    background-color: #CFDCE8;
}

.table thead tr th {
	cursor: default !important;
} 

.room_empty:hover {
	background-color: white !important;
}

.room_detail:hover {
	background-color: #E6EEF5 !important;
}

.room_detail span {
	padding-left: 30px;
}

::-webkit-scrollbar-track{
		margin-top: 5px;
    	margin-bottom: 5px;
}