
#historyContainer{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	bottom: 25px;
	width: 90%;
	min-height:calc(100% - 210px);
}
#historyTitle {
	position: absolute;
	font-family: "Nunito-Light";
	color: #042762;
	font-size: 20px;
}
#title {
	margin-top: 30px;
}
.back {
	float: right;
	font-size: 15px;
	color: #55739D;
}

#back {
	cursor: pointer;
}

#history {
	position: absolute;
	margin: 40px 0 20px 0;
	padding-bottom: 50px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;

}

#dateSelect {
	font-family: "Nunito-Light";
	color: #55739D;
	background-color: #E6EEF5;
	padding: 10px 15px 10px 15px;
	width: 100%;
	line-height: 25px;

}

#leftCol {
	padding-left: 0px;
	padding-right: 20px
}
#rightCol {
	padding-left: 20px;
}

form {
	margin: 0;
}

input.date {
	border-radius: 7px;
	border-color: #55739D;
	padding-left: 10px;
	text-align: left;
	margin-left: 10px;
	line-height: inherit;
}
.button {
	border: 1px solid;
	border-radius: 6px;
	border-color: #042763;
	line-height: inherit;	
	height: 26px;
	text-align: center;
	background-color: #042763;
	color: white;
	cursor: pointer;
	margin: 0 10px 0 3px;

}
.dateIcon {
	margin-right: 10px; 
	width: 26px;

}
.dateIcon .fa {
	vertical-align: middle;
}

#exportButton {
	float: right;
	padding: 0 10px 0 10px;
}

#searchButton {
	float:right;
	margin-right: 0;
}
#configButton {
	margin: 0;
	font-size: 17px;
}
.removeButton {
	margin: 0;
	font-size: 15px;
	max-width: 100% !important;
	background-color: #878787;
	border-color: #878787;
}

#addButton {
	margin: 0;
	font-size: 15px;
	max-width: 100% !important;
}

#collapseButtonUp, #collapseButtonDown{
	vertical-align: middle;
	height: 100%;
	line-height: inherit;
	color: #042763;
	font-size: 17px;
	cursor: pointer;
}

#deleteFiltersButton {
	float: right;
	padding: 0 10px 0 10px;
	background-color: #878787;
	border-color: #878787;
	max-width: 100%;

}
#applyFiltersButton {
	float: left;
	padding: 0 10px 0 10px;
	max-width: 100%;

}

#roomsInfo {
	font-family: "Nunito-Light";
	color: #55739D;
	background-color: white;
	border: 1px solid #042763;
	padding: 10px 15px 10px 15px;
	width: 100%;
	line-height: 25px;
	margin-top: 10px;
	text-align: center;
}

.info {
	padding-left: 10px;
}

#filtersContainer {
	border: 1px solid #042763;
	padding: 20px 15px 20px 15px;
}
#search {
	margin: 0;
}
#custom-search-input {
	height: 26px;
}

.input-group {
	float: left !important;
	padding: 0 !important;
}

.first-row {
	margin-bottom: 20px;
	padding: 0;
}
.filter_row {
	margin: 0 0 15px 0;
}
.filters {
	padding: 0;
	color: #042763;
}

input.filter {
	border-color: #042763 !important;
	font-family: "Nunito-Light";
	height: 26px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    border-radius: 7px !important;
}

.filters input.filter {
	margin: 0 5px 0 5px;
	padding: 10px;
	max-width: 65%;
}
.filters span {
	max-width: 35%;
}