#pubsContainer{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 90%;
	min-height:calc(100% - 300px);
}

#roomInfo {
	padding-bottom: 30px;
}
#roomName {
	position: absolute;
	font-family: "Nunito-Bold";
	color: 042762;
	font-size: 15px;


}
#roomId {
	position: absolute;
	margin-top: 20px;
	font-family: "Nunito-Light";
	color: #55739D;
}
#pubsCount {
	position: absolute;
	font-family: "Nunito-Light";
	color: #042762;
	margin-top: 60px;
	font-size: 15px;
}

#search {
	position: absolute;
	margin-top: 30px;
	right: 0;
	width: 20%;
}

#publishers {
	position: absolute;
	margin-top: 60px;
	padding-bottom: 50px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.publisher{
	border: 1px solid #55739D;
	position: relative;
	padding: 10px;
	width: 150px;
	height: 150px;
	cursor: pointer;
}

.publisherContainer{
	min-width: 170px;
	max-width: 170px;
	padding: 10px;
	margin: 10px;

}

#pubName {
	position: absolute;
	font-family: "Nunito-Bold";
	font-size: 13px;
	color: 042762;

}
#pubId {
	position: absolute;
	top: 50%;
	font-family: "Nunito-Light";
	color: #55739D;
	font-size: 11px;
}
#subsInPub {
	height: 25%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #55739D; 
	color: white;
	font-size: 13px;

}
#subscribers {
	top: 40%;
	position: relative;
	text-align: center;
}
.back {
	float: right;
	font-size: 15px;
	color: #55739D;
}

#back {
	cursor: pointer;
}








