html {
	overflow: auto;
}

#pubsContainer{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	bottom: 40px;
	width: 80%;
	min-height:calc(100% - 300px);
}

#roomInfo {
	padding-bottom: 30px;
}
#roomName {
	position: absolute;
	font-family: "Nunito-Bold";
	color: 042762;
	font-size: 20px;


}
#roomId {
	position: absolute;
	margin-top: 25px;
	font-family: "Nunito-Light";
	color: #55739D;
}
#pubsCount {
	position: absolute;
	font-family: "Nunito-Light";
	color: #042762;
	margin-top: 60px;
	font-size: 20px;
}

#publishers {
	position: absolute;
	margin-top: 80px;
	padding-bottom: 50px;
	height: 90%;
	width: 100%;
	overflow-y: scroll;
}

.publisher{
	margin-top:10px;
	padding-top: 19px;
	margin-bottom: 20px;
	border: 1px solid #55739D;
	position: relative;
	width: 150px;
	height: 150px;
}

.col-min{
	min-width: 150px;
	margin-right: 20px;

}
.col-max {
	max-width: 150px;

}
/*
.col-min {
	min-width: 170px;
}*/

/*.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
     reset the text-align 
    text-align:left;
    margin-right:-4px;
} */



#pubName {
	position: absolute;
	top: 30%;
	text-align: left;
	font-family: "Nunito-Bold";
	color: 042762;
	padding-left: 10px;

}
#pubId {
	position: absolute;
	top: 40%;
	text-align: left;
	font-family: "Nunito-Light";
	color: #55739D;
	padding-left: 10px;
	font-size: 10px;
}
#subsInPub {
	height: 25%;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #55739D; 
	color: white;
	font-size: 13px;

}

.bold {
		font-family: "Nunito-Bold";
}
.light {
		font-family: "Nunito-Light";
}
.blue {
	color: #55739D;
}
.dark {
	color: #042762;
}

.green {
	color: rgb(84, 195, 30);
}

.red {
	color: rgb(213, 15, 30);
}

.orange {
	color: rgb(247, 119, 52);
}


#subscribers {
	top: 40%;
	position: relative;
	text-align: center;
}
.back {
	float: right;
	font-size: 20px;
	color: #55739D;
	cursor: pointer;
}
