#roomsCount {
	position: absolute;
	margin-top: 30px;
	font-family: "Nunito-Light";
	color: #042762;
	font-size: 20px;
}


#roomsContainer{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	bottom: 25px;
	width: 80%;
	min-height:calc(100% - 300px);
}

#rooms {
	position: absolute;
	margin-top: 80px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.room{
	height: 100%;
	margin-top:10px;
	padding-top: 19px;
	margin-bottom: 20px;
	border: 1px solid #55739D;
	position: relative;
}

.col-lg-3 .room {
	width: 230px;
	height: 230px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-min {
	min-width: 250px;
}

#roomName {
	position: absolute;
	top: 30%;
	text-align: left;
	font-family: "Nunito-Bold";
	color: 042762;
	padding-left: 20px;

}
#roomId {
	position: absolute;
	top: 40%;
	text-align: left;
	font-family: "Nunito-Light";
	color: #55739D;
	padding-left: 20px;
	font-size: 10px;
}

#streamsInRoom {
	height: 20%;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #55739D; 
	font-family: "Nunito-Light";
	color: white;
}

.bold {
	font-family: "Nunito-Bold";
}



#streams {
	top: 30%;
	position: relative;
	text-align: center;
}
