
.back {
	float: right;
	font-size: 15px;
	color: #55739D;
}

#backRooms, #backStreams {
	cursor: pointer;
}

#back {
	cursor: pointer;
}

#carouselContainer{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 90%;
}

#carousel  {
	width: 100%;
	margin-top: 25px;
	height: 100px;
}

#dataAndSubs {
	width: 100%;
}

#subsContainer{
	position: relative;
	top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#pubName {
	position: absolute;
	font-family: "Nunito-Bold";
	color: 042762;
	font-size: 15px;
}
#pubId {
	position: absolute;
	margin-top: 25px;
	font-family: "Nunito-Light";
	color: #55739D;

}
.subsCol {
	height: 100%;
}
.col-min  {
	min-width: 80px;
	max-width: 80px;
	padding: 5px;
	margin: 5px;
}

#subsCount {
	font-family: "Nunito-Light";
	color: #042762;
	font-size: 15px;
}

#subscribers {
	position: absolute;
	margin-top: 20px;
	padding: 0 10px 50px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.subscriberCol{
	border: 1px solid #55739D;
	padding: 10px;
	margin: 10px;
	position: relative;
	width: 80px;
	height: 80px;
	background-color: white;
	cursor: pointer;

}

#subName {
	position: absolute;
	bottom: 10px;
	left: 10px;
	text-align: center;
	font-family: "Nunito-Bold";
	font-size: 11px;
	color: 042762;
}
/*#subId {
	position: absolute;
	top: 40%;
	text-align: left;
	font-family: "Nunito-Light";
	color: #55739D;
	padding-left: 10px;
	font-size: 10px;
}*/


#streamInfo {
	text-align: left;
	font-family: "Nunito-Light";
	color: #042762;
	font-size: 15px;
}

#streamData {
	position: absolute;
	margin-top: 60px;
	padding-bottom: 50px;
	height: 90%;
	width: 90%;
	background-color: gray;
	overflow-y: scroll;
}

#subsCol {
	padding-left: 30px;
	border-left: 1px solid #55739D;
	max-height: calc(100% - 380px);
}

#dataCol {

	max-height: calc(100% - 380px);
}


#dataModal {
	padding:20px;
	height: 100%;
	margin-bottom: 10px;
}

#subscribersModal {
		height: 100%;
		padding:20px;
		margin-bottom: 10px;
		border-left: 1px solid #55739D;


}

#subModal {
	max-height: calc(100% - 200px);
	height: 100%;
}
.modal, .modal.fade.in {
    top: 140px; /* was 10% */
}

.modal-backdrop.in {
	opacity: 0;
}




#carousel{
     white-space: nowrap;
     overflow-y: hidden;
     overflow-x: auto;
}
#carousel .col-lg-3{
	float: none;
    display: inline-block;
}

.publisherCol{
	border: 2px solid #B2C2D6;
	padding: 10px;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 80px;
	height: 80px;
	background-color: white;
	cursor: pointer;
}


#carousel > div:last-child {
	margin-right: 10px;
}

.active {
	border: 2px solid #55739D;

}

.active #pubNameCarousel {
	color: #042762;
}

#pubNameCarousel {
	position: absolute;
	bottom: 10px;
	left: 10px;
	text-align: center;
	font-family: "Nunito-Bold";
	font-size: 11px;
	color: #B2C2D6;
}

.row-fluid {
	background-color: #B2C2D6;
	padding-left: 10px;
	padding-right: 10px;
}
